<div class="main-container">
  @if(!listEmpty){
  <div class="todo-list-container">
    <div class="todo-list-header">
      <h2>Minha Lista</h2>
      <div class="input-container">
        <app-create-task (taskCreated)="addTask($event)"></app-create-task>
      </div>
    </div>
    <div class="todo-list-content">
        <div class="todo-list-section">
            <h2>Pendências</h2>
            <ul>
                @for(task of getPendentes(); track task.id){
                    <li><app-task-item [task]="task" (hasChanged)="updateList()"></app-task-item></li>
                }
            </ul>
        </div>
        <div class="todo-list-section">
            <h2>Concluídas</h2>
            <ul>
                @for(task of getConcluidas(); track task.id){
                    <li><app-task-item [task]="task" (hasChanged)="updateList()"></app-task-item></li>
                }
            </ul>
        </div>
    </div>
    <div class="todo-list-footer">
      <button (click)="initializeList()" aria-label="Limpar lista de tarefas" class="limpar-btn">
        Deletar todos os itens
      </button>
    </div>
  </div>
  }@else {
  <div class="create-list-container">
    <div class="image-container">
      <img
        src="../../../assets/images/task-list-null.png"
        alt="Imagem de bloco de anotações"
      />
    </div>
    <div class="input-container">
      @if(!todoList){
      <button
        (click)="initializeList()"
        aria-label="criar nova lista de tarefas"
        class="criar-btn"
      >
        Crie uma lista de tarefas
      </button>
      }@else {
      <app-create-task (taskCreated)="addTask($event)"></app-create-task>
      }
    </div>
  </div>
  }
</div>
