@use "../../../styles.scss";

.task-container{
    width:100vw;
    max-width:300px;
    height:40px;
    background-color:var(--black-010);
    display:flex;
    align-items:center;
    justify-content:space-around;
    border-radius:50px;
    padding:2px;

    .task-input{
        width:70%;
        padding:3px;
        color:var(--white);
        border:none;
        outline: none;
        background-color:transparent;
    }

    .delete-task-btn,
    .check-task-btn{
        border-radius:50%;
        aspect-ratio:1;
        border:none;
        cursor:pointer;
        transition:background-color .4s ease;
    }

    .delete-task-btn{
        width:10%;
        background-color:var(--red);
        &:hover{
            background-color:var(--red-010);
        }
    }

    .check-task-btn{
        width:7%;
        background-color:var(--primary);
        &:hover{
            background-color:var(--primary-010);
        }
    }
}